<div class="class">
  <h1>Aula 12 Renderização de lista </h1>
  <h1>Aula 13 A importância das interfaces no Angular </h1>
  <h2> Components: list-render</h2>
    <h2>Animais</h2>
    <table>
        <th>Nome</th>
        <th>Tipo</th>
        <tr *ngFor="let lista of animais">
            <td>{{lista.nome}}</td>
            <td>{{lista.tipo}}</td>
        </tr>
    </table>

    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Idade</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lista of animais">
            <td>{{lista.id}}</td>
            <td>{{lista.nome}}</td>
            <td>{{lista.tipo}}</td>
            <td>{{lista.idade}}</td>
            <td> <img style="width: 100px;" src="{{lista.foto}}" alt=""></td>
            <button type="button" class="btn btn-warning" (click)="mostraIdade(lista)">Mostra idade</button>
            <button type="button" class="btn btn-danger" (click)="mostrarNome(lista)">mostrar nome</button>
          </tr>
         <h3>{{animalDetalis}}</h3>
         <h3>{{listaDetalis}}</h3>
        </tbody>
      </table>

</div>
