<div class="class">
    <h1>Aula 18 Requisições HTTP </h1>
    <p>Fiz configuração api banco de dados instalando 
        instalando um pacote dando o comando "npm json-server",
        criei um arquivo com o nome bd.json que quer dizer banco
         de dados json, criei um array de animais no formato json 
         no arquivo json, criei um script em package.json com a linha 
         de comando  "Server": "json-server --watch bd.json" para rodar 
         o arquivo dizendo que é uma api, rodei um servidor json com o 
         comando "npm run server', a porta 3000 simula um api
    </p>
    <h1>Assista a aula</h1>
    <h1>Teste</h1>


    <table>
        <th>Nome</th>
        <th>Tipo</th>
        <tr *ngFor="let lista of animais2">
            <td><a routerLink="/aula19list/{{ lista.id }}">{{lista.nome}}</a></td>
            <td>{{lista.tipo}}</td>
        </tr>
    </table>

    <hr>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Idade</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lista of animais2">
            <td>{{lista.id}}</td>
            <td>{{lista.nome}}</td>
            <td>{{lista.tipo}}</td>
            <td>{{lista.idade}}</td>
            <td> <img style="width: 100px;" src="{{lista.foto}}" alt=""></td>
          </tr>
        </tbody>
      </table>


</div>
